

/* Tudo */
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box !important;
    user-select: none;
}
.flex{
    display: flex;
}



/* Principal */
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 214, 185);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 5em;
}

.divJogo{
    /* height: 100%; */
    width: 100%;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
}

.imagemForca{
    width: 25em;
    height: 29em;
}

.divBtn{
    padding-top: 10em;
    padding-left: 10em;
    height: 100%;
    /* width: 100%; */
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
}

.divBtn button{
    cursor: pointer;
    padding: 1em;
    color: white;
    background: #27AE60;
    border-radius: 8px;
    border: 1px solid #27AE60; 
}

.divPalavra{
    gap: 1em;
}

.underline{
    font-size: 36px;
}

.divLetras{
    display: flex;
    flex-wrap: wrap;
    width: 48em;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.letra{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 3.75em;
    height: 3.75em;
    /* padding: 1em; */
    background: #E1ECF4;
    color: #39739D;
    border-radius: 5px;
    border: 1px solid #7AA7C7;
}
.selecionado{
    background-color: #798A9F;
}
.over{
    position: absolute;
    color: red;
    font-size: 100px;
    font-weight: bold;
    top: 40%;
}
.overVenceu{
    position: absolute;
    color: rgb(3, 211, 28);
    font-size: 140px;
    font-weight: bold;
    top: 40%;
}